page-home {

}

.content {
	background-image: url(/assets/icon/home.jpg);
	background-size: cover;
	color: light-blue;
	

}

.home-content {
	padding: 30px;
	margin-top: 50px;
	text-align: center;
	color: white;
	font-size: 50px;
}
