page-home {

}

.content {
	background-image: url(/assets/icon/home.jpg);
	background-size: cover;
	color: light-blue;


}

.home-content {
	padding: 20px;
	margin-top: 40px;
	text-align: center;
	color: white;
	font-size: 52px;
	border: 1px none black;
	height: 100;
	width: 100%;
	background-color: rgba(255, 255, 255, .5);


}






